body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  min-width: 340px;
  margin: 0;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

audio {
  margin-top: 15px;
  width: 300px; /* Adjust as needed */
}

.code-block {
  background-color: #f5f5f5;
  border-left: 3px solid #007bff;
  padding: 10px;
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

code {
  display: block; /* Ogni riga di codice su una nuova linea */
  color: #333; /* Colore del testo per il codice */
  /* Aggiungi qui altri stili per il codice, se necessario */
}

.explanation {
  background-color: #f8f9fa;

  padding: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.explanation {
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  min-width: 320px;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
}

code {
  color: #007bff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em; /* Adjust the font size as needed */
}

@media screen and (max-width: 600px) {
  code {
    font-size: 0.5em; /* Riduci la dimensione del testo per schermi piccoli */
  }
}
